ion-content{
  --background:url('https://www.colorhexa.com/d9d4d4.png')
}
.botones{
  width: 240px;
  justify-items: center;
}
ion-card-subtitle{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
ion-title{
  text-align: center;
}
