<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cambiar <br> Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCamb" (ngSubmit)="cambiar()" >
    <ion-card>
      <ion-card-header>
        <h1>Cambiar Contraseña</h1>
        <ion-img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1280px-Logo_DuocUC.svg.png">
        </ion-img>
        <br>
        <span>Nota:<br>Debes ingresar tu Correo Electronico, RUT y Usuario con los que te registraste para realizar el
          cambio de Contraseña.</span>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" formControlName="usuario" placeholder="Ingresar Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" formControlName="correo" placeholder="Ingresar Correo Electronico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input type="text" formControlName="rut" placeholder="Ingresar RUT"></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" color="warning">Validar</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
