ion-content{
  --background:url('https://www.colorhexa.com/d9d4d4.png')
}
ion-icon{
  color: white;
}
h1{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
}
span{

  font-family: 'Times New Roman', Times, serif;
  color: black;
  justify-items: center;
}
ion-button{

  width: 250px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
ion-label{
  font-family: 'Times New Roman', Times, serif;
}
