h1{
font-family: 'Times New Roman', Times, serif;
font-size: x-large;
}
span{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}
ion-card-title{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    text-align: end;
}
ion-button{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
ion-icon{
    width: 50px;
    height: 30px;
}
  ion-content{
    --background:url('https://www.colorhexa.com/d9d4d4.png')
  }
